.header-shop{
    background-color: #563d7c;
}
.oi.oi-cart{
color: white;
}
.icon-fb:hover{
    color:white;
    text-decoration: none;
}
.icon-fb{
    font-size: 20px;
    color: black;
    background-color: #82938b;
    text-align: center;
    width:30px;
    line-height: 1;
    border-radius:4px;
    margin:4px;
    display: inline-block;
    padding: 5px;
}
.icon-cart,
.icon-user{
    font-size: 25px;
    color: #ccc;
}

//Begin login modal
@media (min-width: 576px){
    .modal-dialog {
      max-width: 400px;
      
      .modal-content {
        padding: 1rem;
      }
    }
  }
  
  .modal-header {
    .close {
      margin-top: -1.5rem;
    }
  }
  
  .form-title {
    margin: -2rem 0rem 1rem;
  }
  
  .btn-round {
    border-radius: 3rem;
  }
  
  .delimiter {
    padding: 1rem;  
  }
  
  .social-buttons {
    .btn {
      margin: 0 0.5rem 1rem;
    }
  }
  
  .signup-section {
    padding: 0.3rem 0rem;
  }
  //End login modal
