<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Welcome HLShop!</h2>
                <hr class="my-4">
                <p class="mb-5">Công ty Cổ phần (HLShop) là nền tảng bán lẻ điện thoại số 1 Việt
                    Nam về doanh thu và lợi nhuận</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="ti-mobile"></i>
                <p>0702748213</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="ti-email"></i>
                <p>dut@gmail.com
                </p>
            </div>
            <div class="col-lg-4 ml-auto text-center">
                <i class="ti-user"></i>
                <p>Hiếu Luận</p>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <div class="container">
            <p>&copy; Coppyright 2022 . Cung cấp bởi Hiếu - Luận</p>
        </div>
    </footer>
</section>