<div class="list-group" id="list-tab" role="tablist" style="margin-top: -20px;">
  <h6>Danh Mục</h6>
  <a class="list-group-item list-group-item-action active"  data-toggle="list" href="#list-home"
    role="tab" aria-controls="home">Giá Thấp Đến Cao</a>
  <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-profile"
    role="tab" aria-controls="profile">Giá Cao Đến Thấp</a>
  <a class="list-group-item list-group-item-action"  data-toggle="list" href="#list-messages"
    role="tab" aria-controls="messages">Tên A-Z</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-messages"
    role="tab" aria-controls="messages">Tên Z-A</a>
  <div class="dropdown-divider"></div>
  <h6>Giá tiền</h6>
  <a class="list-group-item list-group-item-action"  data-toggle="list" href="#list-settings"
    role="tab" aria-controls="settings">Dưới 5.000.000đ</a>
      <a class="list-group-item list-group-item-action"  data-toggle="list" href="#list-settings"
    role="tab" aria-controls="settings">5.000.000đ - 10.000.000đ</a>
      <a class="list-group-item list-group-item-action"  data-toggle="list" href="#list-settings"
    role="tab" aria-controls="settings">Trên 10.000.000đ</a>
    <div class="dropdown-divider"></div>
    <h6>Hãng bán chạy</h6>
    <a class="list-group-item list-group-item-action"  data-toggle="list" href="#list-settings"
    role="tab" aria-controls="settings">Apple</a>
    <a class="list-group-item list-group-item-action"  data-toggle="list" href="#list-settings"
    role="tab" aria-controls="settings">Vivo</a>
    <a class="list-group-item list-group-item-action"  data-toggle="list" href="#list-settings"
    role="tab" aria-controls="settings">SamSung</a>
    <a class="list-group-item list-group-item-action"  data-toggle="list" href="#list-settings"
    role="tab" aria-controls="settings">Galaxy</a>
    <div class="dropdown-divider"></div>
    <h6>Dung Lượng</h6>
    <a class="list-group-item list-group-item-action"  data-toggle="list" href="#list-settings"
    role="tab" aria-controls="settings">128 GB</a>
    <a class="list-group-item list-group-item-action"  data-toggle="list" href="#list-settings"
    role="tab" aria-controls="settings">256 GB</a>
    <a class="list-group-item list-group-item-action"  data-toggle="list" href="#list-settings"
    role="tab" aria-controls="settings">512 GB</a>
    <div class="dropdown-divider"></div>
    <h6>Hệ Điều Hành</h6>
    <a class="list-group-item list-group-item-action"  data-toggle="list" href="#list-settings"
    role="tab" aria-controls="settings">Android</a>
    <a class="list-group-item list-group-item-action"  data-toggle="list" href="#list-settings"
    role="tab" aria-controls="settings">IOS</a>
</div>