<div class="container product-list">
    <div class="row">
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/iphone14.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Apple</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">iPhone 14 Pro 256GB</p>
                        <p class="card-text mr-2 text-success">36.590.000₫</p>
                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="button" data-target="#product_view" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/oppo-a16.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Oppo</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Oppo A16</p>
                        <p class="card-text mr-2 text-success">3.190.000₫</p>
                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/oppo-a57.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Oppo</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Oppo A57</p>
                        <p class="card-text mr-2 text-success">4.190.000₫</p>

                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/oppo-reno7.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Oppo</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Oppo Reno7</p>
                        <p class="card-text mr-2 text-success">6.990.000₫</p>

                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/iphone-8-256gb.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Apple</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">iPhone 8 Pro 256GB</p>
                        <p class="card-text mr-2 text-success">9.990.000₫</p>

                    </div>
                   <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/samsung-a73.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>SamSung</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Samsung A73</p>
                        <p class="card-text mr-2 text-success">8.190.000₫</p>

                    </div>
                   <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/Samsung-Galaxy-A53.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>SamSung</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Samsung Galaxy A53</p>
                        <p class="card-text mr-2 text-success">12.190.000₫</p>

                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/samsung-galaxy-z.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>SamSung</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Samsung Galaxy ZFLIP</p>
                        <p class="card-text mr-2 text-success">15.990.000₫</p>

                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/Vivo-V23e.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Vivo</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Vivo V23e 256GB</p>
                        <p class="card-text mr-2 text-success">7.990.000₫</p>

                    </div>
                   <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/vivo-v25e.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Vivo</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Vivo V25e 128GB</p>
                        <p class="card-text mr-2 text-success">5.990.000₫</p>

                    </div>
                   <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/Vivo-y15s.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Vivo</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Vivo Y15s</p>
                        <p class="card-text mr-2 text-success">6.990.000₫</p>

                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/vivo-y21.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Vivo</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Vivo Y21 128GB</p>
                        <p class="card-text mr-2 text-success">3.590.000₫</p>

                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/vivo-y22s.jpeg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Vivo</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Vivo Y22s</p>
                        <p class="card-text mr-2 text-success">6.990.000₫</p>

                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/Vivo-y33s.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Vivo</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Vivo Y33s</p>
                        <p class="card-text mr-2 text-success">8.590.000₫</p>

                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/galaxy-s22.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Galaxy</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Galaxy S22 Pro</p>
                        <p class="card-text mr-2 text-success">9.990.000₫</p>

                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/iphone-8-plus.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Apple</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">iPhone 8 plus 256GB</p>
                        <p class="card-text mr-2 text-success">12.190.000₫</p>

                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/iphone-11.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Apple</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">iPhone 11 Pro Max 256GB</p>
                        <p class="card-text mr-2 text-success">14.590.000₫</p>

                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/iphone-x.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Apple</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">iPhone X</p>
                        <p class="card-text mr-2 text-success">10.590.000₫</p>

                    </div>
                   <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/iphone-xr-256gb.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Apple</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">iPhone XR 256GB</p>
                        <p class="card-text mr-2 text-success">16.190.000₫</p>

                    </div>
                    <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 md-5 pb-3">
            <div class="card">
                <img src="/img/iphone14.jpg" alt="" class="card-img-top w-100 p-2">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Apple</h3>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">iPhone 14</p>
                        <p class="card-text mr-2 text-success">26.590.000₫</p>
                    </div>
                   <div class="d-flex justify-content-between">
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-primary">Chi Tiết</button>
                    <button type="button" data-target="#" data-toggle="modal" class="btn btn-success">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- <div class="modal fade" id="detailProductModal">
    <div class="modal-dialog bg-success">
        <div class="modal-content" style="transform:scale(X1.4);">
            <div class="modal-header pb-2">
                <h1 class="font-weight-light ml-4">Thông Tin Chi Tiết</h1>
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mt-2 p-3">
                    <div class="col-md-6">
                        <img src="/img/iphone14.jpg" alt="" class="rounded" width="100%" height="100px" style="object-fit: contain;">
                    </div>
                    <div class="col-md-6">
                        <h2 class="product_name">iPhone 14 Pro 256GB</h2>
                        <p style="box-sizing:border-box;" class="product_desc">Đây là loại điện thoại vip pro nhất trên vũ trụ này</p>
                        <h4 class="product_price"></h4>
                        <button class="btn btn-success mt-2" style="width: 150px;">Add to Card</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}



<div class="modal fade product_view" id="product_view">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Thông Tin Sản Phẩm</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                   
                    <div class="col-md-6">
                        <h4>Product Id: <span>51526</span></h4>
                        <div class="rating">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            (10 reviews)
                        </div>
        
                        <div class="btn-ground">
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button>
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>